<footer class="container" style="margin-top:100px;">
  <p class="text-content">Copyright ©2017 rails102
    <br>Design by
    <a href="http://courses.growthschool.com/courses/rails-102/" target="_new">sish</a>
  </p>
</footer>
